#titulo {
    display: grid;
    justify-content: center; /*coloca no centro*/
    color: #34D0AD;      
}

#conteiner_poema { /*container pros 2 parágrafos do poema*/
    display: grid; 
    justify-content: center; /*conteudo fica no meio*/
}

#texto_poema {
    display: grid; /*display de grids*/
    grid-template-columns: 294px 294px;  /*2 colunas com esse tamanho*/ 
    column-gap: 177px;   /*espaço entre as colunas*/                       
    align-items: center; /*alinha os items no centro da tela*/
}

.paragrafo {  /*paragrafo com borda azul e padding de 10px*/
    border: 3px solid #34D0AD;           
    padding: 10px;                     
    margin: 0;                                    
}

#autor { /*tag com o nome do autor*/
    display: grid;                
    border: 2px solid black;   /*border preta */   
    border-radius: 18px;   /*faz a border ser arredondada*/
    padding: 0 15px; /*sem padding vertical, mas com 15px de padding horizontal*/
    color: #34D0AD;                   
    margin: 22px auto; /*margin vertical fixa, margen horizontal automatica*/                
    width: max-content; /*largura para pegar o máximo do tamanho do conteúdo*/
    text-align: center;    /*é possível usar o text-align com o display grid sem problemas*/
}